Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/(sitemap\.xml|robots\.txt|favicon\.ico|manifest\.json)$ [NC]
RewriteRule . /index.html [L]

<Files "sitemap.xml">
    Header set Content-Type "application/xml; charset=utf-8"
</Files>